


<!DOCTYPE html>

<html>
<head>
    <title>采购明细</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="shortcut icon" href="~/images/logo.ico" />
    <link rel="bookmark" href="~/images/logo.ico" />

    <link rel="stylesheet" type="text/css" href="~/Styles/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="~/Styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/ChaiGou.css" />
    <style>
        #content .row:nth-child(2n+1) {
            background: #d5eef0;
        }

        #content .row:hover {
            color: #808080;
            background: #e6eaff;
        }

        .container > .row {
            height: 34px;
            margin-top: 15px;
        }

        .container {
            padding-top: 15px;
        }

            .container > .row .col-xs-4 {
                padding-right: 0;
            }
        #content tr:nth-child(2n+1) {
            background: #d5eef0;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="table table-bordered table-hover" id="mainTable">
            <thead>
                <tr>
                    <th>单号</th>
                    <th>申请人</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="footer">
            <div class="row">
                <a href="/Home/Index" class="col-xs-6 text-center border">主页</a>
                <a href="/" class=" col-xs-6 text-center">退出</a>
            </div>
        </div>
    </div>
    
</body>
</html>
<script src="~/Scripts/Supplier.js"></script>