
.login_main{
		overflow: hidden;
	width: 100%;
	height: 310px;
	border: 1px solid #CCCCCC;
	box-shadow: 5px 5px 5px #EEEEEE;
	margin-top: 20%;
	padding: 10px;
	border-radius: 4px;
}
.logo_img{
	margin: 20px 0 20px;
	width: 100%; 
	text-align: center;
	height: 45px;
}
.logo_text{
	margin-bottom: 30px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	position: relative;
}
.logo_text span{
	position: absolute;
	width: 30px;
	height: 100%;
	top: 0;
	font-size: 20px;
	text-align: center;
	border-radius: 3px;
	transition: 1s all;
	opacity: 0;
}
.logo_text span:nth-of-type(1){
	background: url('../images/exam-img.png');
	color:  #FF0000;
	background-size:100% ;
	transform: rotate(-30deg);
	left: -10%;
}
    .logo_text span:nth-of-type(2) {
        background-image: url('../images/timg1.jpg');
        color: #FFFFFF;
        background-size: 100%;
        /*transform: rotate(15deg);*/
        transform: rotate(0degl);
        left: 17%;
    }
    .logo_text span:nth-of-type(3) {
        background-image: url('../images/timg2.jpg');
        color: #D43F3A;
        background-size: 100%;
        transform: rotate(-25deg) scale(1.2);
        left: 32%;
        z-index: 10;
    }
    .logo_text span:nth-of-type(4) {
        background-image: url('../images/timg3.jpg');
        color: #E4B9C0;
        background-size: 100%;
        transform: rotate(25deg);
        left: 46%;
        top: -30px;
    }
    .logo_text span:nth-of-type(5) {
        background-image: url('../images/timg4.jpg');
        color: #D0E9C6;
        background-size: 100%;
        transform: rotate(-20deg) scale(1.2);
        z-index: 10;
        left: 60%;
    }
    .logo_text span:nth-of-type(6) {
        background-image: url('../images/timg5.jpg');
        color: #A6E1EC;
        background-size: 100%;
        /*transform: rotate(30deg);*/
        transform: rotate(0deg);
        left: 74%;
    }
    .logo_text span:nth-of-type(7) {
        background-image: url('../images/timg6.jpg');
        color: #FFFFFF;
        background-size: 100%;
        transform: rotate(-20deg);
        /*left:88%;*/
        left: 110%;
    }
 .btn-block{
	
	letter-spacing: 10px;
}
.login_main .row {
    margin-bottom:10px;
}
